<div class="createContentDiv">

  <div id="fullscreenDiv">
    <canvas id="fullscreenChart"></canvas>
    </div>

<form [formGroup]="chartForm" (ngSubmit)="editChart()" (change)="getChartFormChange()">
  
  <div style="display: flex; flex-wrap: wrap; flex-direction: column;">
    <mat-form-field>
        <mat-label>Chart Title</mat-label>
        <input type="text" matInput formControlName="chartTitle"
               placeholder="Title">
     </mat-form-field>

      <mat-form-field>
        <mat-label>Chart Subtitle</mat-label>
        <input type="text" matInput formControlName="chartSubtitle"
              placeholder="Subtitle">
    </mat-form-field>

      <mat-form-field *ngIf="this.editedChart.chartDatasets.length != 2" style="width:fit-content">
        <mat-label>Chart Type</mat-label>
        <mat-select  matInput formControlName="chartType" (selectionChange)="getChartFormChange(); calculateFirstDataset();" >
          <mat-option value="line">line</mat-option>
          <mat-option value="bar">bar</mat-option>
          <mat-option value="bar-horizontal">bar-horizontal</mat-option>
          <mat-option value="pie">pie</mat-option>
          <mat-option value="doughnut">doughnut</mat-option>
          <mat-option value="polarArea">polarArea</mat-option>
          <mat-option value="radar">radar</mat-option>
          <mat-option value="scatter">scatter</mat-option>
          <mat-option value="bubble">bubble</mat-option>
        </mat-select>
      </mat-form-field>

        <mat-form-field *ngIf="this.editedChart.chartDatasets.length != 2 && (this.chartType.getRawValue() == 'line' || this.chartType.getRawValue() == 'radar')">
        <mat-label>Chart Animation</mat-label>
        <mat-select  matInput formControlName="chartAnimation" (selectionChange)="getChartFormChange()" >
          <mat-option value="none">none</mat-option>
          <mat-option value="linear">linear</mat-option>
          <mat-option value="easeInQuad">easeInQuad</mat-option>
          <mat-option value="easeOutQuad">easeOutQuad</mat-option>
          <mat-option value="easeInOutQuad">easeInOutQuad</mat-option>
          <mat-option value="easeInCubic">easeInCubic</mat-option>
          <mat-option value="easeOutCubic">easeOutCubic</mat-option>
          <mat-option value="easeInOutCubic">easeInOutCubic</mat-option>
          <mat-option value="easeInQuart">easeInQuart</mat-option>
          <mat-option value="easeOutQuart">easeOutQuart</mat-option>
          <mat-option value="easeInOutQuart">easeInOutQuart</mat-option>
          <mat-option value="easeInQuint">easeInQuint</mat-option>
          <mat-option value="easeOutQuint">easeOutQuint</mat-option>
          <mat-option value="easeInOutQuint">easeInOutQuint</mat-option>
          <mat-option value="easeInSine">easeInSine</mat-option>
          <mat-option value="easeOutSine">easeOutSine</mat-option>
          <mat-option value="easeInOutSine">easeInOutSine</mat-option>
          <mat-option value="easeInExpo">easeInExpo</mat-option>
          <mat-option value="easeOutExpo">easeOutExpo</mat-option>
          <mat-option value="easeInOutExpo">easeInOutExpo</mat-option>
          <mat-option value="easeInCirc">easeInCirc</mat-option>          
          <mat-option value="easeOutCirc">easeOutCirc</mat-option>
          <mat-option value="easeInOutCirc">easeInOutCirc</mat-option>
          <mat-option value="easeInElastic">easeInElastic</mat-option>
          <mat-option value="easeOutElastic">easeOutElastic</mat-option>
          <mat-option value="easeInOutElastic">easeInOutElastic</mat-option>
          <mat-option value="easeInBack">easeInBack</mat-option>
          <mat-option value="easeOutBack">easeOutBack</mat-option>
          <mat-option value="easeInOutBack">easeInOutBack</mat-option>
          <mat-option value="easeInBounce">easeInBounce</mat-option>
          <mat-option value="easeOutBounce">easeOutBounce</mat-option>
          <mat-option value="easeInOutBounce">easeInOutBounce</mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <h4>Background Color</h4>
        <input type="color" matInput formControlName="chartBackgroundColor"
        value="#FFFFFF">       
      </div>

    </div>
         
    <div *ngIf="(this.chartType.getRawValue() != 'scatter' && this.chartType.getRawValue() != 'bubble')">
      <div formArrayName="chartLabels" style="display: flex; flex-wrap: wrap; flex-direction: column;">
        <div *ngFor="let label of labels.controls; let i=index" style="margin:1%">
       <div [formGroupName]="i">
         <mat-form-field>
           <mat-label>Label</mat-label>
           <input type="text" matInput formControlName="label"
           placeholder="Label"> 
         </mat-form-field>
       </div>
      </div>

      <div>
       <button style="margin:1%" mat-raised-button color="primary" type="button" (click)="addLabel()">Add label</button>
       </div>
      </div>

    </div>    

    <div>
      <div style="display: flex; flex-wrap: wrap; flex-direction: column;">                    
    <mat-form-field>
      <mat-label>Dataset Label</mat-label>
      <input type="text" matInput formControlName="datasetLabel"
      placeholder="Label"> 
    </mat-form-field>

    
    <mat-form-field *ngIf="this.editedChart.chartDatasets.length == 2">
      <mat-label>Chart Type</mat-label>
      <mat-select matInput formControlName="datasetType" (selectionChange)="getChartFormChange()">
        <mat-option value="line">line</mat-option>
        <mat-option value="bar">bar</mat-option>
        <mat-option value="bar-horizontal">bar-horizontal</mat-option>
        <mat-option value="pie">pie</mat-option>
        <mat-option value="doughnut">doughnut</mat-option>
        <mat-option value="polarArea">polarArea</mat-option>
        </mat-select>
    </mat-form-field>

    <div id="backgroundColorExtender" (change)="calculateBackgroundColor()">
      <h4>Background Color</h4>
      <button mat-raised-button color="primary" type="button" (click)="addBackgroundColor()">Add</button>
     </div>
 
    <input type="text" matInput formControlName="backgroundColor" readonly="true" [style.visibility]="'hidden'"/>
    
   <div id="borderColorExtender" (change)="calculateBorderColor()">
      <h4>Border Color</h4>
      <button mat-raised-button color="primary" type="button" (click)="addBorderColor()">Add</button>
     </div>

   <input type="text" matInput formControlName="borderColor" readonly="true" readonly="true" [style.visibility]="'hidden'"/>
         
   <div (change)="calculateDatasetValue()">
    <h4>Dataset Values</h4>
    <button *ngIf="this.chartType.getRawValue() !== 'scatter' && this.chartType.getRawValue() !== 'bubble'"  mat-raised-button color="primary" type="button" (click)="addDatasetValue()">Add</button>
    <button *ngIf="this.chartType.getRawValue() === 'scatter'" mat-raised-button color="primary" type="button" (click)="addDatasetValueScatter()">Add</button>
    <button *ngIf="this.chartType.getRawValue() === 'bubble'" mat-raised-button color="primary" type="button" (click)="addDatasetValueBubble()">Add</button>
    <div style="display: flex; flex-wrap: wrap; flex-direction: row;" id="datasetValueExtender"></div>
  </div>         

  <input type="text" matInput formControlName="datasetValues" placeholder="Dataset Values" readonly="true" [style.visibility]="'hidden'"> 
 
</div>
</div>

      <div>
        <div *ngIf="this.editedChart.chartDatasets.length == 2" style="display: flex; flex-wrap: wrap; flex-direction: column;">             
          <mat-form-field>
            <mat-label>Dataset Label</mat-label>
            <input type="text" matInput formControlName="secondDatasetLabel"
            placeholder="Label"> 
          </mat-form-field>

          <mat-form-field>
              <mat-label>Chart Type</mat-label>
              <mat-select matInput formControlName="secondDatasetType" (selectionChange)="getChartFormChange()">
                <mat-option value="line">line</mat-option>
                <mat-option value="bar">bar</mat-option>
                <mat-option value="bar-horizontal">bar-horizontal</mat-option>
                <mat-option value="pie">pie</mat-option>
                <mat-option value="doughnut">doughnut</mat-option>
                <mat-option value="polarArea">polarArea</mat-option>                
                </mat-select>
            </mat-form-field>

          <div id="backgroundSecondColorExtender" (change)="calculateSecondBackgroundColor()">
            <h4>Background Color</h4>
            <button mat-raised-button color="primary" type="button" (click)="addSecondBackgroundColor()">Add</button>
            </div>
       
          <input type="text" matInput formControlName="secondBackgroundColor" readonly="true" [style.visibility]="'hidden'"/>
          
         <div id="borderSecondColorExtender" (change)="calculateSecondBorderColor()">
            <h4>Border Color</h4>
            <button mat-raised-button color="primary" type="button" (click)="addSecondBorderColor()">Add</button>
            </div>

         <input type="text" matInput formControlName="secondBorderColor" readonly="true" [style.visibility]="'hidden'"/>
               
        
         <div id="datasetSecondValueExtender" (change)="calculateSecondDatasetValue()">
          <h4>Dataset Values</h4>
          <button mat-raised-button color="primary" type="button" (click)="addSecondDatasetValue()">Add</button>
        </div>      
        
      <input type="text" matInput formControlName="secondDatasetValues" placeholder="Dataset Values" readonly="true" [style.visibility]="'hidden'">        
      </div>
    </div>

      <div>
      <button mat-raised-button class="createChartButton btn btn-primary" color="primary">Edit Chart</button>
      </div>
</form>
</div>
