<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<div class="file-upload">
  <input class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )" (change)="import($any($event).target.files)" value="Add Chart">

  <div class="image-upload-wrap">
    <input class="file-upload-input" type='file' (change)="import($any($event).target.files)"/>
    <div class="drag-text">
      <h3>Drag and drop a file or select add Chart</h3>
    </div>
  </div>
</div>