<div id="chatGptResponse" ></div>
<div class="contentDiv">
<h1>What should your chart be about?</h1>
<input id="myInput" type="text">
<button class="specialButton" (click) ='generateText()'>Generate Chart</button>
</div>

<div class="chartDiv">
    <canvas id="myChart"></canvas>
<div class="buttonDiv">
    <button id="saveButton" class="fa fa-floppy-o chartButtons hiddenButton" (click)="saveChart()" aria-hidden="true"></button>   
    <button id="downloadButton" class="fa fa-download chartButtons hiddenButton" (click)="downloadChart('myChart')" aria-hidden="true"></button>    
</div>
</div>

