<h1>{{ chartsFound }}</h1>
<div class="containerCharts" >
    <div id="divChart" *ngFor="let element of this.customCharts">
        <canvas id="chartDiv{{element.id}}"></canvas>
     <div class="buttonDiv">   
        <button class="fa fa-download" aria-hidden="true" (click)="downloadChart('chartDiv'+element.id)"></button>
        <button class="fa fa-trash" aria-hidden="true" (click)="deleteChart(element.id)"></button>
        <button class="fa fa-cog" aria-hidden="true" routerLink="edit" [state]="element"></button>
        <button class="fa fa-arrows-alt" aria-hidden="true" (click)="openLink(element)"></button>
        <button class="fa fa-share" aria-hidden="true" (click)="shareChart(element)"></button>
    </div>
    </div>
    </div>
    
    
    