#divChart {
  display: block;
  margin-left: 25%;
  width: 50%;
  }

.container p {
    color:black;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    background-color: aliceblue;
    width: 50%;
    margin-left: 25%;
  }
