<form #loginForm="ngForm">
    <div class="form-floating mb-3">
        <input id="uuid" type="text" placeholder="Uuid" ngModel name="text"/>
    </div>
    <div class="form-floating mb-3">
        <input id="username" type="text" placeholder="Username" ngModel name="text"/>
    </div>
    <div class="form-floating mb-3">
        <input id="Email" type="email" placeholder="Email" ngModel name="text"/>
    </div>

    <mat-form-field>
        <mat-label>Chart Animation</mat-label>
        <mat-select matInput formControlName="chartAnimation" >
          <mat-option value="User">User</mat-option>
          <mat-option value="Admin">Admin</mat-option>
        </mat-select>
    </mat-form-field>

    <div></div>

    <mat-form-field>
        <mat-label>Enabled</mat-label>
        <mat-select matInput formControlName="chartAnimation" >
          <mat-option value="true">true</mat-option>
          <mat-option value="false">false</mat-option>
        </mat-select>
    </mat-form-field>

    <div>
        <button mat-raised-button class="btn btn-warning">Edit</button>
    </div>
      
</form>
