<div class="menuContainer" >
    <div class="card myCustomCard">
        <div class="card-body">
            <h3>Bar Chart</h3>
          <a href="#" class="btn btn-primary">Create</a>
        </div>
      </div>

      <div class="card myCustomCard">
        <div class="card-body">
            <h3>Bubble Chart</h3>
          <a href="#" class="btn btn-primary">Create</a>
        </div>
      </div>

      <div class="card myCustomCard">
        <div class="card-body">
            <h3>Doughnut Chart</h3>
          <a routerLink="/create/doughnout" class="btn btn-primary">Create</a>
        </div>
      </div>

      <div class="card myCustomCard">
        <div class="card-body">
            <h3>Pie Chart</h3>
          <a href="#" class="btn btn-primary">Create</a>
        </div>
      </div>

      <div class="card myCustomCard">
        <div class="card-body">
            <h3>Line Chart</h3>
          <a href="#" class="btn btn-primary">Create</a>
        </div>
      </div>

      <div class="card myCustomCard">
        <div class="card-body">
            <h3>Polar Area Chart</h3>
          <a href="#" class="btn btn-primary">Create</a>
        </div>
      </div>

      <div class="card myCustomCard">
        <div class="card-body">
            <h3>Radar Chart</h3>
          <a href="#" class="btn btn-primary">Create</a>
        </div>
      </div>

      <div class="card myCustomCard">
        <div class="card-body">
            <h3>Scatter Chart</h3>
          <a href="#" class="btn btn-primary">Create</a>
        </div>
      </div>

      <div class="card myCustomCard">
        <div class="card-body">
            <h3>Mixed Charts</h3>
          <a href="#" class="btn btn-primary">Create</a>
        </div>
      </div>
    </div>