<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
  <!-- Navbar Brand-->
  <a class="navbar-brand ps-3" routerLink=""><i class="fa fa-pie-chart" aria-hidden="true"></i>
    ChartApp</a>
 <div class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
 <button *ngIf="!isLoggedIn()"  type="button" class="btn btn-success" routerLink="/login">Login</button>
 <button *ngIf="isLoggedIn()" type="button" class="btn btn-danger" routerLink="/login" (click) = "logout()">Logout</button>
</div>
</nav>
